/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --decorative-color: #FF0070;
  --text-color: #F1B2CE;
  --article-title-color: #000028;
  --bg-color: #000028;
  --title-color: #DB00FF;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decorations-item {
  visibility: visible;
}

.theme_dark .decorated-zone,
.theme_dark .section__title {
  color: var(--decorative-color);
}

.theme_dark .title__decorations {
  color: var(--article-title-color);
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}