/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_dark .decorated-zone,
.theme_dark .content__section-tit {
  color: var(--decorative-color);
}

.theme_dark .content__section-title-decorations {
  color: var(--article-title-color);
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}