.page.theme_light {
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --decorative-color: #FF8DCB;
  --button-color: #353430;
  --rec-color: #353430;
  --outline-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__decorations-item {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --decorative-color: #FF8DCB;
    --button-color: #353430;
    --rec-color: #353430;
    --outline-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

}

@media (width < 1024px) {
  .theme_light .main__title-header {
    text-shadow: 2px 2px 0px #FF0070;
  }
}

@media (width >= 1024px) {
  .theme_light .main__title-header {
    text-shadow: 4px 4px 0px #FF0070;
  }
}
