.page.theme_light {
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --decorative-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__decorations-item {
  visibility: hidden;
}

.theme_light .decorated-zone,
.theme_light .title__decorations,
.theme_light .section__title {
  color: var(--text-color);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (orientation: landscape) {
  .theme_light .header__title,
  .theme_light .footer .word-decorations {
    --decorative-color: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --decorative-color: #FF8DCB;
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__dark-decore {
    visibility: hidden;
  }
  
  .decorated-zone,
  .title-decorations,
  .section__title {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}

@media (prefers-color-scheme: light) and (orientation: landscape) {
  .header__title,
  .footer .text-decorations {
    --decorative-color: #FF0070;
  }
}