.page.theme_light {
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --decorative-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__decorations-item {
  visibility: hidden;
}

.theme_light .decorated-zone,
.theme_light .content__section-title-decorations,
.theme_light .content__section-tit {
  color: var(--text-color);
}

.theme_light .decorated-zone::before {
  border-inline-end: 1px solid #353430;
  border-block-start: 1px solid #353430;
}

.theme_light .decorated-zone::after {
  border-inline-start: 1px solid #353430;
  border-block-end: 1px solid #353430;
}

.theme_light .header__theme-menu-button {
  color: #353430;
} 

.theme_light .header__theme-menu-button_active {
  border: 1px solid #353430;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid #353430;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (orientation: landscape) {
  .theme_light .main__title,
  .theme_light .footer .word-decorations {
    --decorative-color: #FF0070;
  }
}

@media (width < 1024px) {
  .theme_light .header__title-two {
    text-shadow: 4px 4px 0px #FF8DCB;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --decorative-color: #FF8DCB;
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__dark-decore {
    visibility: hidden;
  }
  
  .decorated-zone,
  .title-decorations,
  .content__section-tit {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}

@media (prefers-color-scheme: light) and (orientation: landscape) {
  .main__title,
  .footer .text-decorations {
    --decorative-color: #FF0070;
  }
}