:root {
  --page-padding: 10px;
  --main-font-family: 'IBM Plex mono', monospace;
  --main-font-size: 18px;
  --decorative-color: #FF0070;
  --text-color: #F1B2CE;
  --article-title-color: #000028;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --line-height: 1.3;
  --bg-image: url(../images/cover-image-dark.png);
}